<div style="text-align:center; color:#6B3E26; font-family: Arial, sans-serif; line-height:1.6;">
  <h1 style="text-align:center; margin:0; font-size:34px; font-weight:800;">Lab 2</h1>
  <h3 style="text-align:center; margin:6px 0 0; font-size:20px; font-weight:700;">ARTI 308 – Machine Learning</h3>
  <p style="text-align:center; margin:6px 0 0; font-size:16px; font-weight:600;">
    Academic Year (2025/2026) – 2nd Semester
  </p>
  <p style="text-align:center; margin:10px 0 0; font-size:16px; font-weight:600;">
    Lab 2: Identifying ML Problems, Selecting Open Datasets, and Drawing a Methodology Diagram
  </p>
      <h3 style="text-align:center; margin:6px 0 0; font-size:20px; font-weight:700;">Jana Alwagdani (2220004825)</h3>
  <h3 style="text-align:center; margin:6px 0 0; font-size:20px; font-weight:700;">Group 6FS3</h3>

</div>

-----------------

<div style="color:#6B3E26; font-family: Arial, sans-serif; line-height:1.6;">
  <h1 style="margin:0; font-size:30px; font-weight:800;">Part 1: Choosing an Open Dataset</h1>
</div>

https://www.kaggle.com/datasets/saidaminsaidaxmadov/chocolate-sales?resource=download

----

<div style="color:#6B3E26; font-family: Arial, sans-serif; line-height:1.6;">
  <h1 style="margin:0; font-size:30px; font-weight:800;">Part 2: Defining the Machine Learning Problem</h1>
</div>


The dataset contains 3,282 records of chocolate sales transactions, including details such as sales person, country, product type, date, sales amount, and number of boxes shipped. It represents real-world sales data across multiple regions and chocolate products.

The machine learning problem associated with this dataset can be formulated as a regression problem, where the goal is to predict the sales amount based on features such as product type, country, sales person, and boxes shipped. Alternatively, it can also be treated as a sales forecasting or business analytics problem to understand patterns, trends, and factors influencing chocolate sales performance.

---

<div style="color:#6B3E26; font-family: Arial, sans-serif; line-height:1.6;">
  <h1 style="margin:0; font-size:30px; font-weight:800;">Part 3: Loading and Inspecting the Dataset in Python</h1>
</div>

In [1]:
import pandas as pd
import numpy as np

## Load the dataset

In [6]:
df = pd.read_csv("ChocolateSales.csv")

## Display the shape of the dataset

In [8]:
print("Shape:", df.shape)

Shape: (3282, 6)

## Preview the first few rows

In [10]:
df.head()
#df.head(10)

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04/01/2022,"$5,320.00",180
1,Van Tuxwell,India,85% Dark Bars,01/08/2022,"$7,896.00",94
2,Gigi Bohling,India,Peanut Butter Cubes,07/07/2022,"$4,501.00",91
3,Jan Morforth,Australia,Peanut Butter Cubes,27/04/2022,"$12,726.00",342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,24/02/2022,"$13,685.00",184

In [11]:
df.tail()
#df.tail(10)

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
3277,Karlen McCaffrey,Australia,Spicy Special Slims,17/05/2024,"$5,303.58",354
3278,Jehu Rudeforth,USA,White Choc,07/06/2024,"$7,339.32",121
3279,Ches Bonnell,Canada,Organic Choco Syrup,26/07/2024,$616.09,238
3280,Dotty Strutley,India,Eclairs,28/07/2024,"$2,504.62",397
3281,Karlen McCaffrey,India,70% Dark Bites,23/05/2024,"$5,915.87",355

## Check column names

In [17]:
df.columns

Index(['Sales Person', 'Country', 'Product', 'Date', 'Amount',
       'Boxes Shipped'],
      dtype='object')

## Check data types

In [19]:
df.dtypes

Sales Person     object
Country          object
Product          object
Date             object
Amount           object
Boxes Shipped     int64
dtype: object

## Check column names and data types

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3282 entries, 0 to 3281
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sales Person   3282 non-null   object
 1   Country        3282 non-null   object
 2   Product        3282 non-null   object
 3   Date           3282 non-null   object
 4   Amount         3282 non-null   object
 5   Boxes Shipped  3282 non-null   int64
dtypes: int64(1), object(5)
memory usage: 154.0+ KB

<div style="color:#6B3E26; font-family: Arial, sans-serif; line-height:1.6;">
  <h1 style="margin:0; font-size:30px; font-weight:800;">Part 4: Designing the Methodology Diagramn</h1>
</div>

<img src="Methodology_Diagram.png" width="800">